[credential]
	helper = osxkeychain
[user]
	name = ytkibk
	email = ytkibk@users.noreply.github.com
[alias]
    # nameあり
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Creset%an %Cblue%ce %Creset%s' --date=iso
    # nameなし
	#graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%ce %Creset%s' --date=iso
[core]
	editor = vim -c \"set fenc=utf-8\"
	pager = less -cm
	quotepath = false
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	# --no-ffと透過: git mergeしたときはマージコミットを残すようにする
	ff = false
[mergetool]
	prompt = false
[rebase]
	autostash = true
