[Desktop Entry]
Name=Retropie
Version=1.0
Comment=Retropie
Exec=/home/pi/bin/retropie.sh
Icon=/home/pi/bin/icons/retropie.png
Terminal=true
Type=Application
Categories=Game
